<h1><%= "What you want?" %></h1>

<% if flash.any? %>
  <div class="flash">
    <div class="container">
      <li>
        <%= flash[:notice]%>
      </li>
    </div>
  </div>
<% end %>

<br>
  <%= form_for @questions do |f| %>
    <div>
      <%= f. label :name, as: :name %>
      <br>
        <%= f. text_area :name, size: "40x5" %>
    </div>
    <div>
      <%= f. label :description %>
      <br>
        <%= f. text_area :description, size: "40x10" %>
    </div>
    <div>
      <%= f.submit  "Submit"%>
    <div>
  <%end%>
</br>
